---
import Counter from "../components/counter.astro"
import { Image } from 'astro:assets';

import imageSumire from '../images/sumire.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>This is my new blog!!</h1>
		<Counter title="My Counter!" />
		<Image src={imageSumire} alt="Sumire" width="500" quality="max" style="display: block; margin: 0 auto;" />
	</body>
</html>
